@import "../abstract/variables";
.footer-container {
    font-family: $primary-font;
    padding-top: 80px;
    background: $color-3;
    max-width: 100%;
    overflow: hidden;
    .newsletter {
        border-top: 2px solid $color-6;
        border-bottom: 2px solid $color-6;
        .newsletter__container {
            max-width: 950px;
            margin: 0 auto;
            padding: 40px 0;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            .newsletter__title {
                font-size: 24px;
                font-weight: 700;
                color: $color-4;
                line-height: 36.5px;
            }
            .newsletter__form {
                position: relative;
                max-width: 630px;
                width: 100%;
                .newsletter__form__input {
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid $color-2;
                    background: $color-5;
                    height: 40px;
                    padding: 0 130px 0 24px;
                    line-height: 40px;
                    color: $color-2;
                }
                .newsletter__form__button {
                    width: 130px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $color-1;
                    border-radius: 4px;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24.34px;
                    color: $color-5;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    &:hover {
                        background-color: $color-2;
                    }
                }
            }
        }
    }
    .footer-nav-container {
        max-width: 952px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 40px auto;
        .footer-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            grid-gap: 25px;
            h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: $color-2;
                position: relative;
            }
            .footer-nav__links {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                grid-gap: 24px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: $color-4;
                li {
                    &:hover {
                        color: $color-1;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .footer-bottom-container {
        background: $color-2;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: $color-5;
        margin-top: 64px;
        .footer-bottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 85px;
            grid-gap: 35px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            max-width: 1600px;
            margin: 0 auto;
            .footer-bottom__socials {
                .footer-bottom__socials__list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    grid-gap: 22px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    .footer-bottom__socials__list__link {
                        svg {
                            path {
                                fill: $color-5;
                            }
                        }
                    }
                }
            }
            .footer-bottom__payment {
                .footer-bottom__payment__list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    grid-gap: 22px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
            }
            .footer-bottom__copyright {
                .footer-bottom__copyright__list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    grid-gap: 22px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: flex-start;
                    .footer-bottom__copyright__list__item {
                        .footer-bottom__copyright__list__item__title {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}