@import './variables';
* {
    box-sizing: border-box;
}

html,
body,
p {
    margin: 0;
}

main {
    background-color: $main-bg-color;
}

a {
    text-decoration: none;
    color: unset;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5 {
    list-style: none;
    padding: 0;
    margin: 0;
}