//fonts
$primary-font: 'Titillium Web',
sans-serif;
$secundary-font: 'Montserrat',
sans-serif;
$tertiary-font: 'Open Sans',
sans-serif;
//colors
$color-1: #FAA500;
$color-2: #353535;
$color-3: #FAFAFA;
$color-4: #000000;
$color-5: #FFFFFF;
$color-6: #EFEFEF;
$pop-color-1: #787D83;
$pop-color-2: #464B54;
$pop-color-3: #231F20;
$main-bg-color: #FAFAFA;
$pop-bg-color: rgba(0, 0, 0, 0.7);