body.show-lightbox {
    overflow: hidden;
}

body.show-lightbox .lightbox-newsletter {
    opacity: 1;
    visibility: visible;
}

body.show-lightbox .lightbox-newsletter__mask {
    opacity: 1;
    visibility: visible;
}

.lightbox-newsletter * {
    font-family: 'Titillium Web', sans-serif;
}

.lightbox-newsletter {
    width: 850px;
    height: 530px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 202;
    transition: all 0.2s ease-out;
}

.lightbox-newsletter__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 201;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.lightbox-newsletter__container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    background: #fff;
}

.lightbox-newsletter__close {
    position: absolute;
    right: 0;
    bottom: calc(100% + 6px);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.lightbox-newsletter__image img {
    display: block;
}

.lightbox-newsletter__content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    padding: 45px 20px 24px;
}

.lightbox-newsletter__icon {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 13px;
}

.lightbox-newsletter__welcome {
    font-size: 12px;
    font-weight: 400;
    color: #464b54;
    line-height: 20px;
    margin-bottom: 13px;
}

.lightbox-newsletter__title {
    font-size: 20px;
    font-weight: 400;
    color: #787d83;
    line-height: 24px;
    margin-bottom: 25px;
    text-align: center;
}

.lightbox-newsletter__title strong {
    font-family: 'Lato', sans-serif;
}

.lightbox-newsletter__form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

.lightbox-newsletter__input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background: #fff;
    height: 40px;
    padding: 0 15px !important;
    margin-bottom: 12.5px;
}

.lightbox-newsletter__input::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #787d83;
}

.lightbox-newsletter__input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #787d83;
}

.lightbox-newsletter__button {
    width: 100%;
    height: 40px;
    background: #faa500;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.lightbox-newsletter__button svg {
    margin-left: 8px;
}

.lightbox-newsletter__button:hover {
    background: #353535;
}

@media screen and (max-width: 991px) {
    .lightbox-newsletter {
        width: 300px;
        height: 307px;
    }
    .lightbox-newsletter__image {
        display: none;
    }
    .lightbox-newsletter__title {
        font-size: 16px;
        padding: 0 5px;
    }
}