* {
  box-sizing: border-box;
}

body {
  min-width: 360px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body,
p {
  margin: 0;
}

main {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: unset;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-container {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}
.header-container .top-bar__container {
  height: 24px;
}
.header-container .top-bar__container .top-bar {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #353535;
  height: 100%;
}
.header-container .top-bar__container .top-bar .top-bar__item {
  width: 100%;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.header-container .header {
  padding: 0 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}
.header-container .header .shell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  height: 88px;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
  gap: 20px;
}
.header-container .header .shell .menu-icon {
  display: none;
}
.header-container .header .shell .menu-icon svg {
  fill: #000000;
}
.header-container .header .shell .header__logo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header-container .header .shell .header__search {
  width: 100%;
  max-width: 791px;
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: #EFEFEF;
  height: 40px;
  margin-right: 50px;
}
.header-container .header .shell .header__search .header__search__box {
  width: calc(100% - 143px);
  height: 100%;
  box-sizing: border-box;
  background: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #353535;
  margin-left: 24px;
}
.header-container .header .shell .header__search .header__search__box:focus-within {
  outline: none;
}
.header-container .header .shell .header__search .header__search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 119px;
  border: none;
  background-color: #FAA500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.header-container .header .shell .header__search .header__search__button:hover {
  cursor: pointer;
  background-color: #353535;
}
.header-container .header .shell .header__search .header__search__button--mobile {
  display: none;
}
.header-container .header .shell .header__client-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  max-width: 406px;
}
.header-container .header .shell .header__client-content .header__client-content__account,
.header-container .header .shell .header__client-content .header__client-content__fav,
.header-container .header .shell .header__client-content .header__client-content__cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #353535;
}
.header-container .header .shell .header__client-content .header__client-content__account:hover,
.header-container .header .shell .header__client-content .header__client-content__fav:hover,
.header-container .header .shell .header__client-content .header__client-content__cart:hover {
  color: #FAA500;
}
.header-container .header .shell .header__client-content .header__client-content__account:hover svg path,
.header-container .header .shell .header__client-content .header__client-content__fav:hover svg path,
.header-container .header .shell .header__client-content .header__client-content__cart:hover svg path {
  fill: #FAA500;
}
.header-container .header .shell .header__client-content .header__client-content__account svg path,
.header-container .header .shell .header__client-content .header__client-content__fav svg path,
.header-container .header .shell .header__client-content .header__client-content__cart svg path {
  fill: #353535;
}
.header-container .header .shell .header__client-content .header__client-content__account svg {
  margin-right: 8px;
}
.header-container .header .shell .header__client-content .header__client-content__fav svg {
  margin-right: 8.01px;
}
.header-container .header .shell .header__client-content .header__client-content__cart {
  border: 1px solid #FAA500;
  padding: 12px 14px 13px 17px;
  border-radius: 10px;
}
.header-container .header .shell .header__client-content .header__client-content__cart svg {
  margin-right: 8.62px;
}
.header-container .header .shell .header__mobile-only-icons {
  display: none;
}
@media (max-width: 980px) {
  .header-container .header .shell {
    gap: 19px;
  }
  .header-container .header .shell .header-menu-icon-n-logo-shell {
    display: flex;
    gap: 19px;
  }
  .header-container .header .shell .menu-icon {
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
  }
  .header-container .header .shell .header__search {
    display: none;
  }
  .header-container .header .shell .header__client-content .header__client-content__account {
    display: none;
  }
  .header-container .header .shell .header__client-content .header__client-content__fav {
    display: none;
  }
  .header-container .header .shell .header__client-content .header__client-content__cart {
    display: none;
  }
  .header-container .header .shell .header__mobile-only-icons {
    display: flex;
    gap: 40px;
    margin-right: 21.23px;
  }
}

.menu-container {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0 10px;
  background-color: #FFFFFF;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.16);
}
.menu-container .menu-shell {
  max-width: 1200px;
  margin: 0 auto;
}
.menu-container .menu-shell .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
}
.menu-container .menu-shell .menu .menu__item:hover {
  color: #FAA500;
}
.menu-container .menu-shell .menu .menu__item .menu__item__content {
  display: flex;
  align-items: center;
  gap: 9.75px;
  height: 48px;
}
.menu-container .menu-shell .menu .featured {
  color: #FAA500;
  font-weight: 700;
}
.menu-container .menu-shell .menu .featured:hover {
  color: #353535;
}
.menu-container .menu-shell .menu .featured .menu__item__content svg path {
  fill: #353535;
}
@media (max-width: 980px) {
  .menu-container {
    display: none;
  }
}

.main-banner-container .banner {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
.main-banner-container .banner .banner__img img {
  width: 100%;
}
.main-banner-container .banner .banner__info {
  position: absolute;
  top: 20%;
  left: 17%;
  height: 100%;
  max-width: 471px;
  width: 100%;
  max-height: 217px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.main-banner-container .banner .banner__info h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48.76px;
}
.main-banner-container .banner .banner__info p {
  margin-top: 10px;
  max-width: 450px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
}
.main-banner-container .banner .banner__info a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background-color: #FAA500;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s ease-out;
}
.main-banner-container .banner .banner__info a:hover {
  background-color: #353535;
}
.main-banner-container .slick-prev {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8%;
}
.main-banner-container .slick-prev svg {
  transition: all 0.2s ease-out;
}
.main-banner-container .slick-prev:hover svg path {
  fill: #FAA500;
}
.main-banner-container .slick-next {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  margin-right: 8%;
}
.main-banner-container .slick-next svg {
  transition: all 0.2s ease-out;
}
.main-banner-container .slick-next:hover svg path {
  fill: #FAA500;
}
.main-banner-container .slick-dots li.slick-active,
.main-banner-container .slick-dots li:hover {
  background: #faa500;
}
.main-banner-container .slick-dots {
  display: inline-flex;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 24px;
  width: 100%;
  gap: 16px;
}
.main-banner-container .slick-dots li {
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #faa500;
  transition: all 0.2s ease-out;
}
.main-banner-container .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
@media (max-width: 980px) {
  .main-banner-container {
    display: none;
  }
}

.main-banner-container--mobile {
  display: none;
}
.main-banner-container--mobile .banner__img img {
  width: 100%;
}
.main-banner-container--mobile .banner {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
.main-banner-container--mobile .banner .banner__info {
  position: absolute;
  top: 20%;
  left: 17%;
  height: 100%;
  max-width: 239px;
  width: 100%;
  max-height: 217px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.main-banner-container--mobile .banner .banner__info h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
}
.main-banner-container--mobile .banner .banner__info p {
  margin-top: 10px;
  max-width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
}
.main-banner-container--mobile .banner .banner__info a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
  width: 76px;
  height: 28px;
  border: none;
  border-radius: 10px;
  background-color: #FAA500;
  color: #FFFFFF;
  text-align: center;
}
.main-banner-container--mobile .banner .banner__info a:hover {
  background-color: #353535;
}
.main-banner-container--mobile .slick-prev {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8%;
}
.main-banner-container--mobile .slick-prev:hover svg path {
  fill: #FAA500;
}
.main-banner-container--mobile .slick-next {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  margin-right: 8%;
}
.main-banner-container--mobile .slick-next:hover svg path {
  fill: #FAA500;
}
.main-banner-container--mobile .slick-dots li.slick-active,
.main-banner-container--mobile .slick-dots li:hover {
  background: #faa500;
}
.main-banner-container--mobile .slick-dots {
  display: inline-flex;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 24px;
  width: 100%;
  gap: 16px;
}
.main-banner-container--mobile .slick-dots li {
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #faa500;
  transition: all 0.2s ease-out;
}
.main-banner-container--mobile .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
@media (max-width: 979px) {
  .main-banner-container--mobile {
    display: block;
  }
}

.diferentials-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24.34px;
  color: #353535;
  margin: 24px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.differentials-container {
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  gap: 74px;
  margin-bottom: 75px;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 1619px) {
  .differentials-container {
    padding: 0 31px;
  }
}
@media (max-width: 979px) {
  .differentials-container {
    margin-bottom: 40px;
  }
}
.differentials-container .diferentials-shell {
  width: 1600px;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
}
.differentials-container .diferentials-shell .diferentials .diferentials__content {
  display: flex;
  gap: 15px;
}
.differentials-container .diferentials-shell .diferentials .diferentials__content .diferentials__content__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 22px;
  background-color: #EFEFEF;
  border-radius: 4px;
  width: 308px;
  height: 64px;
  padding-left: 24px;
}
.differentials-container .diferentials-shell .diferentials .diferentials__content .diferentials__content__card:nth-child(even) {
  width: 307px;
}
.differentials-container .diferentials-shell .diferentials .diferentials__content .diferentials__content__card .diferentials__content__card__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 18.25px;
  color: #000000;
}
.differentials-container .diferentials-shell .diferentials .diferentials__content .diferentials__content__card .diferentials__content__card__txt em {
  font-weight: 700;
  font-size: 14px;
  line-height: 21.29px;
  text-decoration: none;
  font-style: normal;
  color: #353535;
}

.partners-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48.67px;
  color: #353535;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.partners-container {
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 1619px) {
  .partners-container {
    padding: 0 31px;
  }
}
.partners-container .partners-shell {
  width: 1600px;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
}
.partners-container .partners-shell .partners .partners__content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.partners-container .partners-shell .partners .partners__content .partners__content__card {
  display: inline-block;
  width: 308px;
  height: 64px;
  border-radius: 4px;
  margin-right: 15px;
}
.partners-container .partners-shell .partners .partners__content .one {
  background-image: url("https://i.imgur.com/Qoc0YF7.png");
  background-size: cover;
  width: 308px;
  height: 64px;
  margin-right: 16px;
}
@media (max-width: 980px) {
  .partners-container .partners-shell .partners .partners__content .one:nth-of-type(1) {
    order: 3;
  }
}
.partners-container .partners-shell .partners .partners__content .two {
  background-image: url("https://i.imgur.com/cHLLxR4.png");
  background-size: cover;
  width: 307px;
  height: 64px;
}
@media (max-width: 980px) {
  .partners-container .partners-shell .partners .partners__content .two:nth-of-type(2) {
    order: 2;
  }
}
.partners-container .partners-shell .partners .partners__content .three {
  background-image: url("https://i.imgur.com/JOTNQgl.png");
  background-size: cover;
  width: 308px;
  height: 64px;
}
@media (max-width: 980px) {
  .partners-container .partners-shell .partners .partners__content .three:nth-of-type(3) {
    order: 1;
  }
}
.partners-container .partners-shell .partners .partners__content .four {
  background-image: url("https://i.imgur.com/PN0nOAY.png");
  border-radius: 0px;
  width: 322px;
  height: 67px;
  margin-right: 1px;
}
@media (max-width: 980px) {
  .partners-container .partners-shell .partners .partners__content .four:nth-of-type(4) {
    order: 4;
  }
}
.partners-container .partners-shell .partners .partners__content .five {
  background-image: url("https://i.imgur.com/qZ1WvYA.png");
  width: 307px;
  height: 64px;
  margin-right: 0px;
}
@media (max-width: 980px) {
  .partners-container .partners-shell .partners .partners__content .five:nth-of-type(5) {
    order: 5;
  }
}

.shelf-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48.67px;
  color: #353535;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin-top: 80px;
}
@media (max-width: 979px) {
  .shelf-title {
    margin-top: 39px;
  }
}

.shelf-container {
  padding: 0 10px;
  display: flex;
  overflow: hidden;
}
.shelf-container .shelf-shell {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
}
@media (max-width: 1024px) {
  .shelf-container .shelf-shell {
    max-width: none;
  }
}
.shelf-container .shelf-shell .shelf {
  display: flex;
  flex-flow: column;
}
.shelf-container .shelf-shell .shelf .shelf__list {
  display: flex;
  gap: 14px;
}
@media (max-width: 1619px) {
  .shelf-container .shelf-shell .shelf .shelf__list {
    margin-left: 31px;
    margin-right: 31px;
  }
}
@media (max-width: 1024px) {
  .shelf-container .shelf-shell .shelf .shelf__list {
    margin-left: 31px;
    margin-right: 0px;
  }
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product {
  width: 308px;
  height: 593px;
  display: flex;
  flex-flow: column;
  transition: all 0.2s ease-out;
  padding: 0 0 8px;
  margin: 0 0 5px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product .product__header {
  margin-bottom: 8px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product .product__header .product__header__content {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product .product__header .product__header__content .product__header__content__link-n-img {
  text-decoration: none;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product .product__header .product__header__content .product__header__content__link-n-img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product:nth-child(2) {
  margin: 0 1px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content {
  padding: 0 27px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item {
  border: 1px solid transparent;
  width: 26px;
  height: 26px;
  border-radius: 4px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .selected {
  border: 1px solid #353535;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item div {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item div:hover {
  border: 1px solid #353535;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item:hover {
  cursor: pointer;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .yellow {
  background: #deac71;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .orange {
  background: #d37164;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .blue {
  background: #6497d3;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .dark-blue {
  background: #3c3b79;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .black {
  background: #1c1a19;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .dark-orange {
  background: #d84e4b;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .beige {
  background: #cfc9b0;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__variants-container .product__content__variants-container__list .product__content__variants-container__list__item .gray {
  background: #eae9e5;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #353535;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.34px;
  text-align: left;
  color: #000000;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 18.25px;
  color: #000000;
  opacity: 0.5;
  text-align: left;
  margin-bottom: 8px;
  max-height: 55px;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__content .product__content__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__button {
  padding: 0 27px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__button .product__button__buy-action {
  width: 100%;
  border-radius: 4px;
  background-color: #FAA500;
  color: #FFFFFF;
  border: none;
  height: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.34px;
  text-align: center;
}
.shelf-container .shelf-shell .shelf .shelf__list .shelf__list__item .product__button .product__button__buy-action:hover {
  background-color: #353535;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.shelf-container .slick-list {
  padding: 0 0 0 5px;
}
.shelf-container .slick-prev {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .shelf-container .slick-prev {
    display: none !important;
  }
}
.shelf-container .slick-prev:hover svg path {
  fill: #FAA500;
}
.shelf-container .slick-next {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  left: calc(100% - 45px);
}
@media (max-width: 1600px) {
  .shelf-container .slick-next {
    left: calc(100% - 31px);
  }
}
@media (max-width: 1024px) {
  .shelf-container .slick-next {
    display: none !important;
  }
}
.shelf-container .slick-next:hover svg path {
  fill: #FAA500;
}

.info-card-container {
  font-family: "Titillium Web", sans-serif;
  margin-top: 65px;
  padding: 0 31px;
}
@media (max-width: 1125px) {
  .info-card-container {
    margin-top: 23px;
  }
}
.info-card-container .info-card-shell {
  max-width: 1200px;
  margin: 0 auto;
}
.info-card-container .info-card-shell .info-card {
  display: flex;
  align-items: center;
}
@media (max-width: 1125px) {
  .info-card-container .info-card-shell .info-card {
    flex-flow: column;
  }
}
.info-card-container .info-card-shell .info-card .info-card__txt {
  width: 420px;
  margin-right: 64px;
}
@media (max-width: 1125px) {
  .info-card-container .info-card-shell .info-card .info-card__txt {
    min-width: 269px;
    margin-right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 24px;
  }
}
@media (max-width: 480px) {
  .info-card-container .info-card-shell .info-card .info-card__txt {
    width: 269px;
  }
}
.info-card-container .info-card-shell .info-card .info-card__txt h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}
@media (max-width: 1125px) {
  .info-card-container .info-card-shell .info-card .info-card__txt h5 {
    margin-bottom: 16px;
  }
}
.info-card-container .info-card-shell .info-card .info-card__txt p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.info-card-container .info-card-shell .info-card .info-card__img .img-desktop {
  max-width: 100%;
  border-radius: 4px;
}
@media (max-width: 480px) {
  .info-card-container .info-card-shell .info-card .info-card__img .img-desktop {
    display: none;
  }
}
.info-card-container .info-card-shell .info-card .info-card__img .img-mobile {
  border-radius: 4px;
  display: none;
}
@media (max-width: 480px) {
  .info-card-container .info-card-shell .info-card .info-card__img .img-mobile {
    display: block;
    width: 100%;
    min-width: 300px;
  }
}

.footer-container {
  font-family: "Titillium Web", sans-serif;
  padding-top: 80px;
  background: #FAFAFA;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .footer-container {
    padding-top: 38px;
  }
}
.footer-container .newsletter {
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
}
.footer-container .newsletter .newsletter__container {
  max-width: 950px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer-container .newsletter .newsletter__container {
    flex-flow: column;
    padding: 24px 31px;
  }
}
.footer-container .newsletter .newsletter__container .newsletter__title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  line-height: 36.5px;
}
@media (max-width: 1024px) {
  .footer-container .newsletter .newsletter__container .newsletter__title {
    margin-bottom: 8px;
  }
}
.footer-container .newsletter .newsletter__container .newsletter__form {
  position: relative;
  max-width: 630px;
  width: 100%;
}
.footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #353535;
  background: #FFFFFF;
  height: 40px;
  padding: 0 130px 0 24px;
  line-height: 40px;
  color: #353535;
}
@media (max-width: 1024px) {
  .footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__input {
    max-width: 300px;
    margin-right: 15px;
  }
}
@media (max-width: 460px) {
  .footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__input {
    max-width: 204px;
    margin-right: 15px;
    padding: 0 0 0 24px;
  }
}
.footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__button {
  width: 130px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FAA500;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.34px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__button:hover {
  background-color: #353535;
}
@media (max-width: 1024px) {
  .footer-container .newsletter .newsletter__container .newsletter__form .newsletter__form__button {
    width: 79px;
    height: 100%;
    margin-left: 15px;
    font-size: 14px;
  }
}
.footer-container .footer-nav-container {
  max-width: 950px;
  margin: 0 auto 64px;
  padding: 0 31px;
}
@media (max-width: 800px) {
  .footer-container .footer-nav-container {
    padding: 0 57px;
  }
}
.footer-container .footer-nav-container .footer-nav-shell {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 480px) {
  .footer-container .footer-nav-container .footer-nav-shell {
    flex-flow: column;
    gap: 16px;
    text-align: left;
  }
}
.footer-container .footer-nav-container .footer-nav-shell .footer-nav {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
.footer-container .footer-nav-container .footer-nav-shell .footer-nav h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
}
@media (max-width: 480px) {
  .footer-container .footer-nav-container .footer-nav-shell .footer-nav h3 {
    display: flex;
    justify-content: space-between;
  }
  .footer-container .footer-nav-container .footer-nav-shell .footer-nav h3::after {
    content: "+";
  }
}
.footer-container .footer-nav-container .footer-nav-shell .footer-nav .footer-nav__links {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
@media (max-width: 480px) {
  .footer-container .footer-nav-container .footer-nav-shell .footer-nav .footer-nav__links {
    display: none;
  }
}
.footer-container .footer-nav-container .footer-nav-shell .footer-nav .footer-nav__links li {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-container .footer-nav-container .footer-nav-shell .footer-nav .footer-nav__links li:hover {
  color: #FAA500;
}
.footer-container .footer-bottom-container {
  background-color: #353535;
  padding: 0 31px;
}
.footer-container .footer-bottom-container .footer-bottom-shell {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
@media (max-width: 800px) {
  .footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom {
    flex-flow: column;
    height: 233px;
    justify-content: space-evenly;
  }
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom .footer-bottom__socials .footer-bottom__socials__list {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom .footer-bottom__socials .footer-bottom__socials__list .footer-bottom__socials__list__link svg path {
  fill: #FFFFFF;
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom .footer-bottom__payment .footer-bottom__payment__list {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom .footer-bottom__copyright .footer-bottom__copyright__list {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}
.footer-container .footer-bottom-container .footer-bottom-shell .footer-bottom .footer-bottom__copyright .footer-bottom__copyright__list .footer-bottom__copyright__list__item .footer-bottom__copyright__list__item__title {
  color: #FFFFFF;
  margin-bottom: 3px;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */